*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  scroll-behavior: smooth;
  background-color: #000000;
  background-image: url('https://wallpaperaccess.com/full/338765.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.9px;
  color: rgb(0, 0, 0);

 
}

/* .app{
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;

} */

/* -------------footer------ */

#footer{
  width: 100%;
  font-size: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    color: #bbb7b7;
    padding: 1%;
    margin-top: 40px;
  }
  
  .social-icons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-icons a {
    text-decoration: none;
    color: #ababab;
    transition: opacity 0.5s;
 display: inline-block;
  }
  .social-icons i{
    font-size: 1.5rem;
  }
  .social-icons a:hover {
    color: #ff4c68;
    transform: translateY(-5px);
  }
  
  #footer p{
    margin-top: 10px;
    text-align: center;
  }
  
  #footer i{
    margin-right: 15px;
    margin-left: 15px;
  }
  
  